body {
    background-image: url("https://media2.giphy.com/media/WWYSFIZo4fsLC/giphy.gif");
}

#header {
    font-size: 150%;
    margin: 50px;
    animation-name: headerAnime;
    animation-duration: 3s;
}
@keyframes headerAnime {
    0% {
        padding: 800px 50px 1000px 800px;
    }
    50% {
        padding: 400px 25px 500px 400px;
   }
   100% {
    margin: 50px;
    }
}

